<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Search and View Available Pets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form id="pet-form">
    <ion-item>
      <ion-label>Select an animal</ion-label>
      <ion-select id="animal">
      <ion-select-option value="dog">Dog</ion-select-option>
      <ion-select-option value="cat">Cat</ion-select-option>
      <ion-select-option value="bird">Bird</ion-select-option>
      <ion-select-option value="smallfurry">Small Furry</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enter Location</ion-label>
      <ion-select id="location">
      <ion-select-option value="California">California</ion-select-option>
      <ion-select-option value="Washington">Washington</ion-select-option>
      <ion-select-option value="Canada">Canada</ion-select-option>
      <ion-select-option value="Tennessee">Tennessee</ion-select-option>
      </ion-select>
    </ion-item>
        <ion-item>
      <div class="submitButton">
          <button ion-button id="submit" block>Find Pet</button>
      </div>
        </ion-item>
  </form>

  <div id="results"></div>

</ion-content>
